<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="utf-8" />
    <title>{{ doc_id }} dokumentacija</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: { sans: ["Inter", "Arial", "sans-serif"] },
          },
        },
      };
    </script>
    
  </head>
  <body
    class="w-[210mm] h-[297mm] mx-auto my-4 shadow-lg print:shadow-none print:my-0 print:mx-0"
  >
    <header class="mb-8">
      <div class="flex justify-between">
        <div>
          <p class="font-semibold tracking-tight mb-2">UAB Testinam</p>
          <p class="-mt-2">Vilnius, lietuva</p>
          <p class="mt-1">4 priedas</p>
        </div>
        <p>AB EN</p>
      </div>
    </header>

    <section class="mb-8 ">
      <div class="mb-4">
        <h2 class="text-md font-bold text-center">
          ĮŽEMINTUVŲ ATSTOJAMŲJŲ VARŽŲ MATAVIMO IR GRANDINĖS NUO ĮŽEMINTUVŲ IKI
          ĮŽEMINAMŲ ELEMENTŲ TIKRINIMO IR APŽIŪROS PROTOKOLAS Nr.
        </h2>

        <div class="flex items-center gap-2 mt-4">
          <label class="text-sm shrink-0">Objektas:</label>
          <div class="relative w-full">
           <p class="text-sm text-blue-700 text-center border-b-[1px] border-black">
              {{ objektas }}
            </p>
          </div>
        </div>

        <p class="text-sm font-semibold text-center">
          Įžemintuvų varžos matavimas
        </p>
      </div>

      <div>
        <div class="flex items-center gap-2 mt-2">
          <label class="text-sm shrink-0">
            Matavimo\apžiūros atlikimo data:</label
          >
          <div class="relative w-full">
            <p class="text-sm text-blue-700 text-start border-b-[1px] border-black">{{ matavimo }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2 mt-2">
          <label class="text-sm shrink-0">
            Gruntas ir jo būklė matavimo metu:</label
          >
          <div class="relative w-full">
            <p class="text-sm text-blue-700 text-start border-b-[1px] border-black">{{ gruntas }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2 mt-2">
          <label class="text-sm shrink-0">
            Savitoji ekvivalentinė grunto varža ρ:
          </label>
          <div class="relative w-full">
            <p class="text-sm text-blue-700 text-start border-b-[1px] border-black">{{ savitoji }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2 mt-2">
          <label class="text-sm shrink-0">
            Matavimo prietaiso pavadinimas ir numeris:
          </label>
          <div class="relative w-full">
            <p class="text-sm text-blue-700 text-start border-b-[1px] border-black">{{ matavimoPrietaiso }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2 mt-2">
          <label class="text-sm shrink-0">
            Matavimo prietaiso metrologinė patikra galioja iki:
          </label>
          <div class="relative w-full">
            <p class="text-sm text-blue-700 text-start border-b-[1px] border-black">{{ metrologin }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-6 mt-6 w-[760px]">
      <table class="min-w-full border-collapse border border-gray-300 text-sm">
        <thead class="bg-[#d9d9d9]">
          <tr>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300]">
              Eil. Nr.
            </th>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300]">
              Matuojamas ruožas
            </th>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300]">
              Matavimo atsivimo vieta
            </th>
            <th colspan="2" class="border border-gray-700 p-2 font-[300]">
              Išeminimo atstamojo varža, Ω
            </th>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300]">
              Išmatuoto ruožo ilgis, m
            </th>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300]">
              Gretimu tašku matavimu rezultatų skirtumas, %
            </th>
          </tr>
          <tr>
            <th class="border border-gray-700 p-2 font-[300]">išmatuota</th>
            <th class="border border-gray-700 p-2 font-[300]">norminė</th>
          </tr>
        </thead>
        <tbody>
          {% for c in table.rows %}
          <tr>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.eil_nr }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.matuojamas_ruozas }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.matavimo_vieta }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.ismatuota }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.normine }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.ilgis }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.skirtumas }}
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </section>

    <section>
      <div class="flex items-bottom gap-2 ">
        <p class="font-semibold">Pastaba:</p>
        <span class="text-sm text-start">{{ postaba }}</span>
      </div>
      <div class="flex items-center gap-2 mt-4">
        <p class="font-semibold">Išvada:</p>
        <span class="text-sm">{{ isvada }}</span>
      </div>
    </section>

    <section>
      <div class="flex items-center gap-2 mt-4">
        <label class="text-sm shrink-0 ">
          Asmuo, atsakingas už matavimo rezultatus
        </label>
        <div class="relative w-full">
          <p class="absolute bottom-4 -left-90 w-full h-px text-blue-700 text-sm">{{ signatures.rezultatus_pareigos}}</p>
          <p class="absolute bottom-4 -left-10 w-full h-px text-blue-700 text-sm">{{ signatures.rezultatus_pavarde}}</p>
          <div class="absolute -bottom-1 w-full h-px bg-gray-600 max-w-[500px]"></div>
          <p class="absolute -bottom-1 -left-90 w-full h-px text-xs">(pareigos)</p>
          <p class="absolute -bottom-1 -left-10 w-full h-px text-xs">(vardas, pavardė)</p>
        </div>
      </div>
      <div class="flex items-center gap-2 mt-12 mb-2">
        <label class="text-sm shrink-0 ">
          Asmuo, atsakingas už matavimo rezultatus
        </label>
        <div class="relative w-full">
          <p class="absolute bottom-4 -left-90 w-full h-px text-blue-700 text-sm">{{ signatures.atliko_pareigos}}</p>
          <p class="absolute bottom-4 -left-10 w-full h-px text-blue-700 text-sm">{{ signatures.atliko_pavarde}}</p>
          <div class="absolute -bottom-1 w-full h-px bg-gray-600 max-w-[500px]"></div>
          <p class="absolute -bottom-1 -left-90 w-full h-px text-xs">(pareigos)</p>
          <p class="absolute -bottom-1 -left-10 w-full h-px text-xs">(vardas, pavardė)</p>
        </div>
      </div>
    </section>
  </body>
</html>
