<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="utf-8" />
    <title>{{ doc_id }} dokumentacija</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: { sans: ["Inter", "Arial", "sans-serif"] },
          },
        },
      };
    </script>
    
  </head>
  <body
    class="w-[210mm] h-[297mm] mx-auto my-4 shadow-lg print:shadow-none print:my-0 print:mx-0"
  >
    <header class="mb-8">
      <div class="flex justify-between">
        <div>
          <p class="font-semibold tracking-tight mb-2">UAB Testinam</p>
          <p class="-mt-2">Vilnius, lietuva</p>
          <p class="mt-1">6 priedas</p>
        </div>
        <p>AB EN</p>
      </div>
    </header>

    <section class="mb-4 ">
      <div class="mb-4">
       <div>
        <h2 class="text-md font-bold text-center inline">
          ĮŽEMINTUVŲ VARŽŲ MATAVIMO IR GRANDINĖS NUO ĮŽEMINTUVŲ IKI ĮŽEMINAMŲ ELEMENTŲ TIKRINIMO PROTOKOLAS Nr.
        </h2>
        <span class="text-sm text-center border-b-[1px] border-black inline text-blue-700">
          {{protokolas}}
        </span>
       <div>

        <div class="flex items-center gap-2 my-4">
          <label class="text-sm shrink-0">Objektas:</label>
          <div class="relative w-full">
           <p class="text-sm text-blue-700 text-start border-b-[1px] border-black">
              {{ objektas }}
            </p>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center gap-2 mt-2">
          <label class="text-sm shrink-0">
            Matavimo\apžiūros atlikimo data:</label
          >
          <div class="relative w-full">
            <p class="text-sm text-blue-700 text-start border-b-[1px] border-black">{{ atlikimo }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2 mt-2">
          <label class="text-sm shrink-0">
            Matavimus atliko prietaisu:</label
          >
          <div class="relative w-full">
            <p class="text-sm text-blue-700 text-start border-b-[1px] border-black">{{ prietaisu }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2 mt-2">
          <label class="text-sm shrink-0">
            Prietaiso metrologinė patikra galioja iki:
          </label>
          <div class="relative w-full">
            <p class="text-sm text-blue-700 text-start border-b-[1px] border-black">{{ galioja }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-6 w-full max-w-[760px] overflow-x-auto">
      <table class="w-full border-collapse border border-gray-300 text-sm table-fixed">
        <thead class="bg-[#d9d9d9]">
          <tr>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">
              Eil. Nr.
            </th>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300] break-words whitespace-normal break-words whitespace-normal">
              Saugomo elektros įrenginio pavadinimas, jo galia ir pastatymo vieta
            </th>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">
              Fazė
            </th>
            <th colspan="3" class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">
              Apsaugos priemonė
            </th>
            <th colspan="2" class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">
              Skaičiuota
            </th>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">
              Išmatuota grandinės fazė-nulis varža, Ω, arba tr. j. srovė A
            </th>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">
              Matavimo vieta, atramos Nr.
            </th>
            <th rowspan="2" class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">
              Išvada  
            </th>
           
          </tr>
          <tr>
            <th class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">Pavadinimas</th>
            <th class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">Tipas/charakteristi-ka</th>
            <th class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">Saugiklio tirpuko arba automato atkabiklio vardinėsrovė, A</th>
            <th class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">Minimali apsaugos poveikio srovė, A</th>
            <th class="border border-gray-700 p-2 font-[300] break-words whitespace-normal">SMaksimali leistina grandinės varža Zleist., Ω</th>
          </tr>
        </thead>
        <tbody>
          {% for c in table.rows %}
          <tr>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.eil_nr }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.matavimo_vieta }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.ismatuota }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.normine }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.rezultatai }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.rezultatai }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.rezultatai }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.rezultatai }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.rezultatai }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.rezultatai }}
            </td>
            <td class="border border-gray-700 p-2 text-center text-blue-700">
              {{ c.rezultatai }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

    <section>
      <div class="flex items-bottom gap-2 ">
        <p class="font-semibold">Pastaba:</p>
        <span class="text-sm text-start mr-[20%]">{{ postaba }}</span>
      </div>
      <div class="flex items-center gap-2 mt-4">
        <p class="font-semibold">Išvada:</p>
        <span class="text-sm border-b-[1px]">{{ isvada }}</span>
      </div>
    </section>

    <section>
      <div class="flex items-center gap-2 mt-4">
        <label class="text-sm shrink-0 ">
          Asmuo, atsakingas už matavimo rezultatus
        </label>
        <div class="relative w-full">
          <div class="text-sm text-blue-700 text-center border-b-[1px] border-black flex justify-around">
          <p class="text-sm text-blue-700 ">{{ signatures.rezultatus_pareigos}}</p>
          <p class="text-sm text-blue-700 ">{{ signatures.rezultatus_pavarde}}</p>
          </div>
          <div class="text-xs text-center flex justify-around">
          <p>(pareigos)</p>
          <p>(vardas, pavardė)</p>
          </div>
        </div>
      </div>
      <div class="flex items-center gap-2 mt-6 mb-2">
        <label class="text-sm shrink-0 ">
          Asmuo, atsakingas už matavimo rezultatus
        </label>
        <div class="relative w-full">
          <div class="text-sm text-blue-700 text-center border-b-[1px] border-black flex justify-around">
          <p class="text-sm text-blue-700 ">{{ signatures.atliko_pareigos}}</p>
          <p class="text-sm text-blue-700 ">{{ signatures.atliko_pavarde}}</p>
          </div>
          <div class="text-xs text-center flex justify-around">
          <p>(pareigos)</p>
          <p>(vardas, pavardė)</p>
          </div>
      </div>
    </section>
  </body>
</html>
